body {
  background-color: #000000; /* Black background */
  font-family: Arial, sans-serif;
}

h1 {
  color: #FF0000; /* Red text */
  font-size: 36px;
}

h1:hover {
  color: #FFFFFF; /* White text on hover */
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #FF0000; /* Red text */
}
