body {
  background-color: #C6F7D0; /* Light green background */
  font-family: Arial, sans-serif;
}

h1 {
  color: #FFFFFF; /* White text */
  font-size: 36px;
}

h1:hover {
  color: #000000; /* White text on hover */
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000; /* Black text */
}
