body {
  background-color: #C6F7D0; /* Light green background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  position: relative;
}

#header-text {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #FFFFFF; /* White text */
  text-align: center;
  position: relative;
  z-index: 1;
}

nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-btn {
  background-color: #4CAF50; /* Green background */
  color: #FFFFFF; /* White text */
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer; /* Change cursor to a pointing hand */
}

.menu-btn:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7F7F7;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu li {
  margin-bottom: 10px;
}

#menu a {
  text-decoration: none;
  color: #337AB7;
}

#menu a:hover {
  color: #23527C;
}

.button-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000; /* Black text */
}

.btn {
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer; /* Change cursor to a pointing hand */
}

.btn-red {
  background-color: #FF3737; /* Red background */
}

.btn-red:hover {
  background-color: #FF6B6B; /* Lighter red on hover */
}

.btn-blue {
  background-color: #2196F3; /* Blue background */
}

.btn-blue:hover {
  background-color: #64B5F6; /* Lighter blue on hover */
}

.btn-orange {
  background-color: #FFA07A; /* Orange background */
}

.btn-orange:hover {
  background-color: #FFC499; /* Lighter orange on hover */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #FFFFFF;
  padding: 10px;
}
